body {
  background: linear-gradient(to bottom, #f6fbff, #ffffff);
  font-family: 'Poppins', sans-serif;
}

.contact-card {
  background: #fff;
  border: 2px solid #dfe6ee;
  border-radius: 25px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-dark-blue {
  background-color: #0b1444;
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 600;
  border: none;
}

.btn-dark-blue:hover {
  background-color: #142060;
}

.icon i {
  color: #0b1444;
}

.social-icons i {
  cursor: pointer;
  transition: transform 0.2s;
}

.social-icons i:hover {
  transform: scale(1.2);
}


/* ==== ACCORDION (Other resources) ==== */
.custom-accordion .accordion-item {
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 8px;
  background: #fff;
}

.custom-accordion .accordion-button {
  background-color: #fff;
  color: #000;
  font-weight: 500;
  box-shadow: none;
  border: none;
  padding: 16px 20px;
}

.custom-accordion .accordion-button::after {
  background-image: none;
  content: "+";
  font-size: 22px;
  font-weight: 400;
  color: #000;
  transition: transform 0.2s ease;
}

.custom-accordion .accordion-button:not(.collapsed)::after {
  transform: rotate(45deg);
}

.custom-accordion .accordion-body {
  padding: 15px 20px;
  background-color: #f9f9f9;
  color: #555;
}

.custom-accordion .accordion-button:focus {
  box-shadow: none;
}
