body {
  font-family: "Lato", sans-serif;
  /* background-color: black; */
}
.faq-contact-title {
  font-size: 2rem;
  /* margin-top: px; */
}
.accordion {
  margin-top: 20px;
}
.accordion-body {
  background-color: #0A154A;
  color: white;
}
