body {
  font-family: "Lato", sans-serif;
  /* background-color: black; */
}
.faq-contact-title {
  font-size: 2rem;
  /* margin-top: px; */
}
.accordion {
  margin-top: 20px;
}
.accordion-button:not(.collapsed) {
  background-color: #e9ecef !important; /* abu muda */
  color: #1a1a1a !important;
  box-shadow: none !important;
}

.accordion-body {
  background: #fafafa !important;
  color: #333;
}
