.register-container {
  min-height: 100vh;
  display: flex;
}

/* Left = Form */
.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Right = Image */
.right-side {
  flex: 1;
  background: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70?auto=format&fit=crop&w=1200&q=80")
    no-repeat center center;
  background-size: cover;
}

.register-box {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.logo {
  text-align: center;
  margin-bottom: 15px;
}
.logo img {
  width: 400px;
  height: 120px;
  max-height: 60px;
  margin-bottom: 5px;
}
.logo h2 {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.form-control {
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.btn-register {
  background-color: #001333;
  color: #fff;
  border-radius: 25px;
  height: 45px;
  width: 100%;
  font-weight: bold;
  margin-top: 15px;
}
.btn-register:hover {
  background-color: #00152e;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}
.divider:not(:empty)::before {
  margin-right: 0.75em;
}
.divider:not(:empty)::after {
  margin-left: 0.75em;
}

.social-buttons {
  max-width: 440px;
  margin: 0 auto;
}
.btn-social {
  width: 100%;
  padding: 10px;
  font-weight: 500;
  border-radius: 25px;
  margin-bottom: 10px;
}
.btn-social img {
  height: 20px;
}

.login-text {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
.login-text a {
  text-decoration: none;
  font-weight: 500;
  color: #0d6efd;
}
.login-text a:hover {
  text-decoration: underline;
}
